@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Quicksand:wght@700&family=Tilt+Warp&display=swap');

.textSM {
    font-size: 0.875rem;
    /* 14px */
}
.textMD {
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    /* 32px */
}

.textSubtitle{
    font-size: 1.75rem;
    font-family: 'Quicksand', sans-serif;
    /* 20px */
}

.textReg {
    font-size: 1rem;
    /* 16px (regular content font size)*/
}

.textTitle {
    font-size: 2.5rem;
    font-family: 'Quicksand', sans-serif;
    /* 40px (section title) */
}

.textXL {
    font-size: 5rem;
    font-family: 'Quicksand', sans-serif;
    /* 60px */
}